.form-view{
    padding: 20px;
    background-color: var(--main-bg-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

}

.form-view-header{
    font-weight: 600;
    font-size: 25px;
    font-weight: bolder;
    padding: 0 20px 20px 0;
    color :var(--main-color);
    display: flex;
    justify-content: space-between; 
}

.header-action{
    padding: 5px 10px ;
    border-radius: 6%;
    margin: 0 2px;
    display: flex;
    flex-direction: row; 
}

.form-view-body{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-content: center;
}


.view-element-box {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    
}

.view-element-title{
    color:var(--second-color);
    padding:10px;
    text-align: left;
    width: 120px;
}

.view-element-value{
    color:var(--main-color);
    padding: 10px;
    text-align: justify;
}

.unitview-btn{
    background: var(--main-bg-color);
    color: var(--main-color);
    border: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    margin-left: 10px;
    padding: 6px;
    cursor: pointer;
    display: flex;

}

.unitview-btn:hover{
    text-decoration: underline ;
    text-decoration-color: var(--success-color);
    text-decoration-style: solid 2px;
    color:var(--success-color);
}

.rightNav-btn{
    background: var(--main-bg-color);
    color: var(--main-color);
    border: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    margin-left: 10px;
    padding: 6px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.rightNav-btn >* {
    padding:10px;
    
}

.navbar-content {
    height: 100%;
}


