
 /* @import "../../node_modules/font-roboto/dist/styles/roboto.min.css";  */

.form{
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 12px;
    box-shadow: 1px 8px 16px 0px rgba(0,0,0,0.3);
}

.form *{
    /* line-height: 1; */
    box-sizing: border-box;
    padding: 5px;
    
}

.form-input-box {
    display: flex;
    flex-flow: row wrap;
    color: var(--main-bg-color);
}

.form-title{
    font-size: 1.5em;
    font-weight: 400;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
}

.form-btn{
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}

.form-item{
    display: flex;
    flex-direction: column;
    flex-basis: 50% ;
}

.form-item > *{
    align-self: flex-start;
}

.form-label {
    font-weight: 400;
    padding: 5px;
    color: var(--main-color);
    font-size: 20px;
}


.form-input{  
    font-family: "Roboto";
    background: var(--second-bg-color);
    border: none;
    padding:10px 20px 10px 20px;
    width: 85%;
    outline: none;  
    color:var(--main-color);
    border-radius: 20px;
    font-size: 16px;
}

.form-update-input{
    width: 60%;
    border: none;
    background: none;
    border-bottom: 3px solid var(--danger-color);
    
}

textarea.form-input ,textarea.form-update-input{
    resize: none;
    font: 'Roboto',sans-serif;
    font-size: large;
    min-width: 400px;
    min-height: 50px;
    
}

.form-input-list{
    display: inline-flex;
}

.form-btn {
    padding: 10px;
}

.add-btn{
    cursor: pointer;
    color: var(--danger-color);
    align-items: center;
    font-weight: 600;
    font-size: large;
    border: none;
    background-color: white;
}
.list-item {
    /* font-size: smaller; */
    color: var(--main-color);
}

.form-input:focus{
    background: var();

}

.form-input-error{
    color:var(--warning-color);
    background: var(--main-bg-color);
    border: 1px solid var(--warning-color);
}

.form-error {
    padding-top: 10px;
    color:var(--warning-color);
    font-size: 0.9em;

}


.form-btn{
    font-weight: 500;
    font-size: 1.1em;
    padding: 10px 16px;
    margin: 5px ;
}

.form-footer{
    display: flex;
    justify-content: center;
    
}

.radio-box{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.radio-box label{
    display: inline-block;
    color: var(--main-color);
    padding-left: 35px;
    font-size: 18px;
    bottom: 12px;
    position: relative;
}  

.radio-box input{
    display: none;
}

.radio-box .checkmark{
    
    display: block;
    position: absolute;
    top:5px;
    left:0;
    width: 25px;
    height: 25px;
    background-color: var(--second-bg-color);
    border-radius: 50%;   
}

.radio-box .checkmark:hover {
    background-color:var(--second-color);
}

.radio-box input:checked + .checkmark {
    background-color: var(--danger-color);
}

.radio-box input:checked + .checkmark:after{
    content:"";
    height:11px;
    width: 11px;
    background-color: var(--main-bg-color);
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}