/* modal css */
.modal-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:200;

}

.modal-window{
    background-color: var(--main-bg-color);
    border: solid 1px white;
    transform: scale(1.2);
    border-radius: 3px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.modal-title{
    display: flex;
    justify-content: space-between;
    padding: 6px;
    color: var(--main-color);
    font-weight: 400;
}

.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-text {
    color: var(--main-color);
    
    padding: 15px;
}

.btn-modal {
    border: none;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    margin-left: 3px;
    cursor: pointer;
    font-size: 14px;
    color:var(--main-bg-color);
    background: var(--danger-color);

}

.btn-modal:hover {
    transform:scale(1.1);
}

.modal-close{
    cursor: pointer;
} 

.modal-close:active{
    transform: scale(0.9);
}

.modal-button-box {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.toast {
    position:  fixed;
    top:25%;
    left:0;
    right: 0;
    margin: auto;
    max-width: 400px;
    padding: 6px;
    background: var(--main-bg-color);
    color:var(--main-color);
    text-align: center; 
    border : solid 1px #aaaaaa ; 
    border-radius:5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-weight:bolder;
    font-size: 1.2em;
    transition: opacity 0.5s, top 0.5s, visibility 0.5s; 
}

.toast-success{
    background-color:var(--success-color);
    color:var(--main-color);
}

.toast-fail{
    background-color: darkred ;
    border-color: rgb(109, 0, 0);
    color:white;
}

.toast-success-warn{
    background-color: var(--warning-color) ;
    color:var('--second-color');
}

/* context menu css */
.cust-cm {
    background-color: white;
    border: 1px #cccccc;
    color: #000030;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    width: 100px;
    position: absolute;
}

.cust-cm-item{
    cursor: pointer;
    padding: 4px 6px; 
}

.cust-cm-item:hover{
    background-color: #f8f8f8;
}

.modal-input-box{
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    color: var(--main-bg-color);
}

.form-label-modal {
    font-weight: 200;
    padding: 5px;
    color: var(--main-color);
}

.form-input-modal{  
    font-family: "Roboto";
    padding: 2px;
    background: var(--second-bg-color);
    border: none;
    /* padding:10px 20px 10px 20px; */
    width: 85%;
    outline: none;  
    color:var(--main-color);
    border-radius: 20px;
    font-size: 14px;
}

.modal-form-title{
    font-family: "Roboto";
    font-weight: 600;
    font-size: 1.4em;
    color: var(--danger-color);
}

.modal-form{
    width: 70%;
}
