.settings-footer{
    margin-inline: 40%;
}

.empty-table-settings {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }

.empty-table-settings .empty-table-header{
    padding-top: 100px;
    font-weight: bold;
    font-size: 1.5em;
    color: var(--danger-color);
    
}

.empty-table-settings .empty-table-body{
    font-size: 1.1em;
    padding-bottom: 15%;
}