<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="nav">
            
            <div class="main-nav">
                <button class="btn nav-link" id="users">
                    <span class="fas fa-user-md"></span>
                    Staff 
                </button>
                <button class="btn nav-link" id="appointments">
                    <span class="fas fa-user-clock"></span>
                    Appointments
                </button>
                <button class="btn nav-link" id="patients">
                    <span class="fas fa-user-plus"></span>
                     Patients
                </button>
                <button class="btn nav-link">
                    <span class="fas fa-box-open"></span>
                    Inventory
                </button>
                <button class="btn nav-link" id="logout">
                    <span class="fas fa-sign-out-alt"></span>
                    logout
                </button>
            </div>
            <div class="right-nav">
                <i class="fas fa-user-shield avatar"></i>
               <h4 class="username"></h4>
               
            </div>
        </div>
        <div class="content">
            <div class="content-left">
                <!-- <h1>leftContent</h1> -->
            </div>
            <div class="content-center">

            </div>
            <div class="contentRight">
                
            </div>
        </div>
        <div class="footer">
            <h1>Little Clinic</h1>
        </div>
    </div>
    <script src="dashboard.js"></script>
</body>
</html>