<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class = "nav-link" id="toggleSideBar">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <img src="../../assets/images/icons/LC_logo.png" alt="EASY CLINIC" class="logo">
                </li>
            </ul>
            <!-- <form action="" class="navbar-search">
                <input type="text" name="search" id="" class="navbar-search-input">
                <i class="fas fa-search"></i>
            </form> -->
            <ul class="navbar-nav nav-right">
                <!-- <li class="nav-item">
                    <a href="" class="nav-link">
                        <i class="fas fa-bell"></i>
                    </a>
                </li> -->
                <li class="nav-item">
                    <a href="" class="avt dropdown">
                        <img src="../../assets/images/thirdman.jpg" alt="User Image" id="usrImg">
                        <!-- <ul class="dropdown-menu">
                            <li class="dropdown-menu-item">
                                <a class="dropdown-menu-item-link" id="settings">
                                    <div>
                                        <i class="fas fa-cog"></i>
                                    </div>
                                    <span>Settings</span>
                                </a>
                            </li>
                            <li class="dropdown-menu-item">
                                <a class="dropdown-menu-item-link" id="logout">
                                    <div>
                                        <i class="fas fa-sign-out-alt"></i>
                                    </div>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul> -->
                    </a>
                </li>
                <li class="nav-item">
                    <p id="username"></p>
                </li>
            </ul>
        </div>
        
        <div class="sidebar">
            <ul class="sidebar-nav">
                <!-- <li class="sidebar-nav-item">
                    <a href="#" class="sidebar-nav-link " id="#">
                        <div>
                            <i class="fas fa-user-md"></i>
                        </div>
                        <span>
                            Users
                        </span>
                    </a>
                </li> -->
                <!-- <li class="sidebar-nav-item">
                    <a href="#" class="sidebar-nav-link" id="bookkeeping">
                        <div>
                            <i class="fas fa-paste"></i>
                        </div>
                        <span>
                            Bookeeping
                        </span>
                    </a>
                </li> -->
            </ul>
        </div>

        <div class="wrapper">
            <p><strong>
                Welcome to Easy Clinic
            </strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam quisquam possimus in voluptatibus laudantium rem nostrum fugiat, quis cupiditate, aperiam quae. Quae reprehenderit deleniti fuga officiis quas molestiae perspiciatis vitae.</p>
        </div>       
        <!-- </div> 
        <div class="footer">
            <h1>Little Clinic</h1>
        </div -->
</div>
    <script src="dashboard.js"></script>
</body>
</html>