 @import "../../assets/css/table.css";
 @import "../../assets/css/form.css";
 @import "../../assets/css/formView.css";
 @import "../../assets//css/modal.css";
 @import "../../assets/css/apntmntTable.css";
 @import "../../node_modules/font-roboto/dist/styles/roboto.min.css";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html,body{
    font-family: Roboto;
}

.btn{
    background-color:#004fa3;
    color: white;
    border:none;
    cursor: pointer;
    font-family: Roboto;
}

.btn:disabled{
    background-color: darkgray;
    color: white;
    cursor: no-drop;
}

.btn:hover:enabled{
    background-color: darkorange;
    color:darkslategray;
}

.tabs {
    display: flex;
    font-family: Roboto;
    justify-content: flex-start;
    color:white;
    border:none;
    font-weight: 600;
    background: #004fa3;
    padding:20px 5px;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    margin: 10px 0;
}

.tabs:hover{
    color:orange;
    /* border-bottom-color:darkslategray; */
}

.action-box {
    display: flex;
    justify-content: space-between;
}

.action-btn{
    margin: auto;
    padding : 10px 10px;
    border-radius: 6px;
    box-shadow:0 0 2px #5885b4;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.pagination-text {
    color: #004fa3;
    font-weight: bold;
    font-size: larger;
    padding:  5px;
}
.searchBar{
    display: inline-flex;
    padding-bottom: 5px;

}

.search-input{
    flex-grow: 1;
    padding:10px;
    outline: none;
    border: 2px solid #004fa3;
    border-radius: 6px 0 0 6px;
    background:#d3d3fd;
    width: 320px;
}


.search-input:focus{
    background: white;
    box-shadow: #8dc2fc;
}

.search-input::placeholder{
    color: #5885b4;
}

.search-btn{
    width: 40px;
    box-shadow:0 0 2px #5885b4;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 6px 6px 0;
}

.input-box {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.btn-box .btn{
    border-radius: 6px;
    font-size: large;
    display: flex;
    justify-content: center;
    height: 90%;
    
}

.container{
    display: flex;
    flex-direction: column;
    /* font-family: Roboto; */
}

.nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid darkgray;
}

.main-nav{
    padding:10px;
}

.avatar{
    background-color: #004fa3;
    border-radius: 50%;
    padding:10px;
    color: white;
}
.nav-link{
    font-weight: bold;
    font-size: 20px;
    vertical-align: top;
    display: inline-flex;
    align-items: stretch;
    padding: 15px 10px ;
    border-right: darkblue;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
}

.fas{
    margin-right: 6px;
}

.right-nav{
    display: flex;
    align-items: center;
    padding:5px;
    color: #003194;;
    font-size: 20px;
}

.right-nav img{
    border-radius: 50%;
    width:50px;
    height: 50px;
    margin-right: 5px;
}

.content{
    padding:12px;
    display: flex;
    background-color: lightgrey;
    flex-basis: 50%;   
}

.content-center{
    margin: auto;
    flex-basis:50%; 
}

.content-left{
    background-color: #004fa3;
    /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25); */
    flex-basis: 20%;
    border-radius: 5px;
    
}

.content-left-header{
    display: flex;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 10px;
    justify-content: center;
    background-color: orange;
    border-radius: 5px 5px 0 0;
    color: darkslategray;
}

.content-left-body{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.create-entity{
    background: repeating-linear-gradient(
    45deg,
    darkslategray,
    darkslategray 40px,
    darkorange  40px,
    darkorange 80px);
}  

.create-entity .content-left-body{
    padding: 10px 10px;
    margin: auto;
    margin-top: 5%;
    width: 80%;
    
    border: solid 5px white;
    color: white;
    border-radius: 5px;
    font-size: 35px;
    font-weight: bold;
}


.content-right{
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    padding:5px;
    flex-basis: 25%;
}

.footer{
    background: black;
    color: white;
    padding:10px;
}

.icon-btn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}