body{
    margin:0;
    padding:0;
    font-family: Helvetica;
    background: url(../assets/images/login.jpg) no-repeat;
    
    background-color: slategray;
    background-size: cover;
}

.login-box{
    width: 320px;
    background: black;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    box-sizing: border-box;
    padding:50px 30px;
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input{
    width: 100%;
    margin-bottom: 10px;
}

.login-box input[type="text"],input[type="password"]{
    border:none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.input-container[data-error] input{
    border-bottom: 1px solid red;
    color:red;
}

.input-container[data-error]::after{
    content: attr(data-error);
    padding-bottom: 10px;
    color:red;
    font-size: 0.85em;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top:-10%;
    left:35%;
}

.btn{
    
    border:none;
    height: 40px;
    background: #003399;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.btn:hover{
    background-color: darkorange;
    
}

.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.login-box a:hover{
    color: orange;
}