@import "../node_modules/font-roboto/dist/styles/roboto.min.css";

:root{
    --primary-color: #4834d4;
    --success-color: #6ab04c;
    --warning-color: #f0932b;
    --danger-color: #eb4d4b;

    --light-color: #212529;
    --light-second-color: #727475;
    --light-background: #ffffff;
    --light-second-background: #f1f1f1;

    --dark-color: #909090;
    --dark-second-color: #f5f6fa;
    --dark-background: #23242D;
    --dark-second-background: #181818;

    --main-bg-color: var(--light-background);
    --second-bg-color: var(--light-second-background);
    --main-color: var(--light-color);
    --second-color: var(--light-second-color);
}
    
body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    background: #d53369;  
    /* background: -webkit-linear-gradient(to right, #cbad6d, #d53369); 
    background: linear-gradient(to right, #cbad6d, #d53369);  */
    /* background: url(../assets/images/login.jpg) no-repeat; */
    
    background-size: cover;
}

.login-box{
    width: 320px;
    background: var(--light-background);
    position: absolute;
    border-radius: 2.5%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:var(--danger-color);
    box-sizing: border-box;
    padding:40px 30px;
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input{
    width: 100%;
    margin-bottom: 10px;
}

.login-box input[type="text"],input[type="password"]{
    border:none;
    border-bottom: 1px solid var(--main-color);
    background: transparent;
    outline: none;
    height: 40px;
    color: var(--main-color);
    font-size: 16px;
}

.input-container[data-error] input{
    border-bottom: 1px solid var(--danger-color);
    color:var(--danger-color);
}

.input-container[data-error]::after{
    content: attr(data-error);
    padding-bottom: 10px;
    color:var(--danger-color);
    font-size: 0.85em;
}

.avatar{
    width: 200;
    height: 100px;
    background-color: var(--light-background);
    position: relative;
    padding-inline: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    left:12%;
    /* padding: 10px; */
}

.btn{
    
    border:none;
    height: 40px;
    background: var(--danger-color);
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.btn:hover{
    background-color: var(--warning-color);
    
}

.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: var(--light-second-background);
}

.login-box a:hover{
    color: orange;
}